.primaryButton {
    padding: 0.3rem 1rem;
    border-radius: 8px;
    background-color: var(--primary-main);
    border-color: var(--border-color);
}

.secondaryButton {
    padding: 0.3rem 1rem;
    border-radius: 8px;
    background-color: var(--secondary-main);
    border-color: var(--border-color);
}
