.button {
    width: 17rem;
    height: 5rem;
    font-size: var(--typography-button);
    border-radius: 0.5rem;
    border: 0.25rem solid var(--border-color);

    &:hover,
    &:focus {
        border: 0.25rem solid var(--border-color-accent);
    }
}

.primaryButton {
    background-color: var(--primary-main);
}

.secondaryButton {
    background-color: var(--secondary-main);
}
