.button {
    width: 17rem;
    height: 5rem;
    font-size: 24px;
    border-radius: 8px;
    border-color: var(--border-color);
}

.primaryButton {
    background-color: var(--primary-main);
}

.secondaryButton {
    background-color: var(--secondary-main);
}
