@import 'styles//mixins.scss';

.cardsWrapper,
.loadingWrapper,
.notFound {
    flex: 1;
    padding: 1rem 0;
}

.cardsWrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;

    @include respond-to('laptop') {
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }
}

.loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: var(--typography-h4);
}
