.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.5rem;
    width: 320px;
    height: 272px;

    .avatar {
        height: 10rem;
        width: 10rem;
    }

    .titleSection {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .date {
            color: #991313;
        }
    }

    .description {
        font-weight: 300;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: #000000;
        width: 100%;
    }
}
