.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.5rem;
    width: 320px;
    height: 272px;

    .actionButtons {
        width: 100%;
        text-align: end;
        opacity: 0;
        transition: 0.2s;

        .editIcon {
            cursor: pointer;
        }
    }

    &:hover .actionButtons {
        transition: 0.2s;
        opacity: 1;
    }

    .avatar {
        height: 10rem;
        width: 10rem;
    }

    .titleSection {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .title {
            font-size: var(--typography-h6);
        }

        .date {
            color: var(--aux-color-1);
        }
    }

    .dateInformation {
        opacity: 0;
        transition: 0.2s;
    }

    &:hover .dateInformation {
        opacity: 1;
        transition: 0.2s;
    }

    .description {
        font-weight: 300;
        font-size: 16px;
        color: var(--primary-main-contrast);
        width: 100%;
    }
}
