.card {
    text-align: center;
    padding: 2rem 2.5rem;
    width: 20rem;
    height: 18rem;

    .actionButtons {
        width: 100%;
        text-align: end;

        .editButton {
            border: none;
            background: none;
        }

        .hideInformation {
            display: none;
        }

        .editIcon {
            cursor: pointer;
        }
    }

    .hoveredElement {
        opacity: 0;
        transition: 0.2s;
    }

    &:hover .hoveredElement {
        opacity: 1;
    }

    .avatar {
        height: 10rem;
        width: 10rem;
    }

    .titleSection {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .title {
            font-size: var(--typography-h6);
        }

        .date {
            color: var(--aux-color-1);
        }
    }

    .description {
        text-align: start;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 300;
        font-size: var(--typography-body-1);
        color: var(--primary-main-contrast);
        margin: 0;
    }
}
