@import '../../../styles/mixins.scss';

.background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    border-radius: 0.5rem;
    background-color: var(--secondary-main);
    padding: 3rem;
    height: 100vh;
    width: 100vh;
    box-sizing: border-box;
    position: relative;

    @include respond-to('laptop') {
        max-width: 70rem;
        width: 70%;
        height: auto;
    }

    .title {
        font-size: var(--typography-h4);
        font-weight: normal;
        margin: 0;
    }

    .form {
        display: flex;
        padding: 1rem 0;
        column-gap: 2rem;

        .loadWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .wrongAdressWrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 2rem;
            }
        }

        .map,
        .loadWrapper,
        .wrongAdressWrapper {
            display: none;

            @include respond-to('laptop') {
                display: block;
                width: 20rem;
                height: 20rem;
                flex: 1;
            }
        }

        .inputs {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .actionButtons {
        @include respond-to('laptop') {
            text-align: end;
        }

        button {
            width: 100%;

            @include respond-to('laptop') {
                width: 17rem;
            }

            cursor: pointer;
        }

        button:last-child {
            margin-top: 1rem;

            @include respond-to('laptop') {
                margin-top: 0;
                margin-left: 4rem;
            }
        }
    }
}
