.defaultTheme {
    --primary-main: #ffffff;
    --primary-main-contrast: #000000;

    --secondary-main: #f8f8f8;

    --aux-color-1: #991313;
    --aux-color-2: #3498db;

    --border-color: rgba(0, 0, 0, 0.1);

    --elevation-z1: 0px 4px 10px rgba(0, 0, 0, 0.1);

    --typography-h1: 6rem;
    --typography-h2: 3.75rem;
    --typography-h3: 3rem;
    --typography-h4: 2.25rem;
    --typography-h5: 1.5rem;
    --typography-h6: 1.25rem;
    --typography-subtitle-1: 1rem;
    --typography-subtitle-2: 0.875rem;
    --typography-body-1: 1rem;
    --typography-body-2: 0.875rem;
    --typography-button: 1.5rem;
    --typography-caption: 0.813rem;
    --typography-overline: 0.625rem;

    font-family: Source Sans Pro;
}

body {
    margin: 0;
}
